<!--here I have omitted the doctype declaration-->
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>2DoCamp</title>
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>  
    <div class="container">
      <div>
        <header>
            <nav>
              <ul class="menu">
                <li class="logo"><a href="#">2DOCamp</a></li>
                <li class="item"><a href="#">Home</a></li>
                <li class="item button"><a href="#">Login</a></li>
                <li class="item button secondary"><a href="#">Sign Up</a></li>
                <li class="item"><a href="#">Campfire</a></li>
                <li class="toggle"><span class="bars"></span></li>
              </ul>
          </nav>
        </header>
      </div>

    {{{body}}}
    </div>     

    <div class="footer">
      <p> &copy 2DOCamp</p>
    </div>
  </body>

</html>