<!--here I have omitted the doctype declaration-->
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>2DoCamp</title>
      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aleo&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Aleo&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
      {{!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> --}}
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>  
    <div class="container">
      <div>
        <header>
            <nav class="font-roboto">
              <ul class="menu">
                 <li class="logo"><a href="/">2DOCamp</a></li>
            <li class="item"><a href="/">Home</a></li>
            {{#if logged_in}}
            <li id="logout" class="item-button button secondary">Logout</li>
            {{else}}
            <li class="item-button button"><a href="/login">Login</a></li>
            <li class="item-button button secondary"><a href="/login">Sign Up</a></li>
            {{/if}}
              </ul>
          </nav>
        </header>
      </div>

    {{{body}}}
    </div>     

  
  </body>

  <footer class="footer">
      <p> &copy 2DOCamp 2021</p>
  </footer>

</html>

<script src="./js/logout.js"></script>
