<div class="hero">
   <div class="hero-inner">
    <h1>Welcome To Our Site!</h1>
    <P>This site is to help you organise your thoughts and ideas into manageable sizes.  Simply select the "To do button" to create a task, select a date when the task is due, it's that simple!
      Why not try our "Campsite" feature, this will help you to keep things in perspective when the pressure is mounting.</P>

   </div>
  </div>
  <br>
  <!-- Column 1 for the emoji -->
<div class="features">
  <div class="feature-inner">
    <div class="feature-item">
      <h3>emoji place holder</h3>
      <p>To do list- we can help you to get it done!</p>
    
      <div class= emoji>
        <div class="head">
        <div class="eyes">
          <div class="eye eye=left eye">
            <div class="eye eye right eye"></div>
          </div>
        
          <div class="mouth"></div>
        </div>
    
      </div>
      </div>
    
      <!--Column 2 for the ToDo lists -->
  </div>
  <div class="feature-item">
    <h2>To do list</h2>
    <form>
      <div class="task">
        <label for="task">New Task</label>
          <textarea id=task name="task"></textarea>
    </div>  
    <br>
  
    <div class="completionDate">
        <label for="date">Completion Date</label>
        <input type="date" name="date" id="date" placeholder="date">
        <button class="reset">Reset</button>
        <button class="submit">Submit</button>
      </div>
      <div class="task">
        <label for="task">New Task</label>
          <textarea id=task name="task"></textarea>
    </div>  
    <br>
  
    <div class="completionDate">
        <label for="date">Completion Date</label>
        <input type="date" name="date" id="date" placeholder="date">
        <button class="reset">Reset</button>
        <button class="submit">Submit</button>
      </div>
      <div class="task">
        <label for="task">New Task</label>
          <textarea id=task name="task"></textarea>
    </div>  
    <br>
  
    <div class="completionDate">
        <label for="date">Completion Date</label>
        <input type="date" name="date" id="date" placeholder="date">
        <button class="reset">Reset</button>
        <button class="submit">Submit</button>
      </div>

      <div class="task">
        <label for="task">New Task</label>
          <textarea id=task name="task"></textarea>
    </div>  
    <br>
  
    <div class="completionDate">
        <label for="date">Completion Date</label>
        <input type="date" name="date" id="date" placeholder="date">
        <button class="reset">Reset</button>
        <button class="submit">Submit</button>
      </div>
    </form>
</div>
</div>
</div>
    