<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/login.css">
    <link rel="stylesheet" href="/Public/style.css">

</head>
<body>  
  <div class="container">
  <div>
    <header>
        <nav>
          <ul class="menu">
            <li class="logo"><a href="#">2DOCamp</a></li>
            <li class="item"><a href="#">Home</a></li>
            <li class="item-button"><a href="#">Login</a></li>
            <li class="item-button secondary"><a href="#">Sign Up</a></li>
            <li class="item"><a href="#">Campfire</a></li>
            <li class="toggle"><span class="bars"></span></li>
          </ul>
      </nav>
    </header>
  </div>
  <!-- hero banner-->
  <div class="hero">
    <h2 class="h2">Please log in or Sign up here </h2>
    
    </div>
    <!--hero banner ends-->

    <div class="grid-container">

      <div class="grid-child-1">
        <h2>Welcome back please Login</h2>
        <br>
        <form action=""method="post">
          <p>User Name</p>
          <input type="text-box" class="text-box" name="user" placeholder="User Name">
          <p>Password</p>
          <input type="password"class="text-box"  name="password" placeholder="Password">
          <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

      <div class="grid-child-2">
        <h2>New to this site - please Sign Up</h2>
        <br>
        <form action=""method="post">
          <p>User Name</p>
          <input type="text" class="text-box" name="user" placeholder="User Name">
          <p>Email</p>
          <input type="email" class="text-box" name="email" placeholder="Email">
          <p>Password</p>
          <input type="password" class="text-box" name="password" placeholder="Password">
          <button type="submit" class="submit-btn">Submit</button>
    </div>

  </div>

    <div class="footer">
      <p> &copy 2DOCamp 2021</p>
    </div>
    
    

