<link rel="stylesheet" href="/login.css">

<div class="hero">
    <h2 class="h2">Please log in or Sign up here </h2>
    
    </div>
    <!--hero banner ends-->

    <div class="grid-container">

      <div class="grid-child-1">
        <h2>Welcome back please Login</h2>
        <br>
        <!--added Id to login form-->

        <form id="loginForm" action="" method="post">
          <p>User Name</p>
          <!--login-user now has id-->
          <input type="text-box" class="text-box" id="loginUser" placeholder="User Name">
          <p>Password</p>
          <!--login-password now has id-->
          <input type="password" class="text-box"  id="loginPassword" name="password" placeholder="Password">
          <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

      <div class="grid-child-2">
        <h2>New to this site - please Sign Up</h2>
        <br>
        <!--added Id to registration form-->
        <form class="newRegistrationForm" action="" method="post">
          <p>User Name</p>
          <input type="text" class="text-box" id="nameSignUp" name="user" placeholder="User Name">
          <p>Email</p> 
          <input type="email" class="text-box" id="emailSignUp" name="email" placeholder="Email">
          <p>Password</p>
          <input type="password" class="text-box" id="passwordSignup" name="password" placeholder="Password">
          <button type="submit" class="submit-btn">Submit</button>
    </div>
  </div>

  <script src="./js/login.js"></script>