
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   



body{
font-family: "Source Sans Pro, sans serif";

}


nav{
background-color: midnightblue;
padding: 5px 40px;
display: block;
transition:all 0.3s ease-out


}

ul {
list-style-type:none;

}

a{
 color:white;
 text-decoration: none;

}

a:hover{
text-decoration: underline;
transform: rotate(6deg);
}


/* list items*/

.menu li {
font-size: 16px;
padding: 15px 5px;
}

.menu li a{
display: block;

}
/* logo css*/
.logo a{
font-size: 20px;

}

.button.secondary{
border-bottom: 1px #444 solid;
padding:7px 15px;
background-color: cadetblue;
border:1px solid;
border-radius: 50em;
}

.btn{
    transition-duration: 0.4s;
}

.btn:hover {
      background-color:#EF4444;
  }
/* Mobile menu section*/

.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toogle{
    cursor: pointer;
    
}


.toggle{
    cursor: pointer;


}

.bars{
    background: #999;
    display:inline-block;
    height:2px;
    position:relative;
    width:18px;
}
/*psuedo elements*/

.bars::before,.bars::after{
    background: #999;
    content:"";
    display:inline-block;
    height:2px;
    position:absolute;
    width:18px
    
}

.bars::before{
    top:5px

}

.bars::after{
    top:-5px

}

.hero{

    background-color: #c5cae9;
    padding: 60px 45px;
    display:flex;
    justify-content: center;
    
}

.hero-inner{

    max-width:760px
}

.hero h1{
font-weight: normal;
font-size: 4rem;
margin:0

}

.hero p{
font-size: 1.18rem;
line-height: 1.6;

}

.features{
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.feature-inner{
max-width: 1200px;
margin: 0 auto;
display:grid;
grid-template-columns: 2fr 1fr;
grid-column-gap: 45px;
grid-row-gap: 45px;

}



.emoji {
    margin: 1rem;
    width: 1rem;
    height: 1rem;
    background-color:beige;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width:40vw;
    border:slateblue;
    border-style: solid;
    background-image: url();
    image-rendering:crisp-edges;


}



.footer{
    text-align: center;
    padding:20px 0px;
    color:#999;
    font-size: 0.9rem;
}

.font-aleo{
    font-family: 'Aleo', serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}




