
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   



body{

    font-family: "Source Sans Pro", "sans serif";
    background-color: white;
    width: 100vw;
    height: 100vh;
}


nav{
    background-color: midnightblue;
    padding: 40px;
    display: block;
    transition:all 0.3s ease-out


}

ul {
list-style-type:none;

}

a{
    color:white;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
    transform: rotate(6deg);
    }

/* list items*/

.menu li {
    font-size: 25px;
    padding: 15px 5px;
}

.menu li a{
    display: block;

}
/* logo css*/
.logo a{
    font-size: 40px;

}


.item-button {
    border-bottom: 1px #444 solid;
    padding:10px 15px;
    background-color: cadetblue;
    border:1px solid;
    border-radius: 50em;
    color: white;

}

.button {
    text-decoration: none;
    cursor: pointer;
}

.button.secondary{
    border-bottom: 1px #444 solid;
    padding:10px 15px;
    background-color: cadetblue;
    border:1px solid;
    border-radius: 50em;

}

/* Mobile menu section*/

.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero{

    background-color:rgb(225, 221, 252);
    padding:0;
    display:flex;
    justify-content:center;
    
}

.hero-inner{

    max-width:1000px;
}

.hero h1{
    font-weight: normal;
    font-size: 4rem;
    margin:0

}

.hero p{
    font-size: 1.18rem;
    line-height: 1.6;

}

.h2{
    max-width: 1200px;
    height: 80px;
    margin:auto;
    display: grid;
    padding-top: 30px; 
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: -30px 30px 20px rgba(12, 156, 156, 0.3);

}
/*
.features{
    background-color: #e8eaf6;
    padding: 70px 45px;
}

.feature-inner{
    max-width: 100vw;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;


}

*/
.grid-container{
    display: flex;
    padding: 40px;
    background-color:rgb(225, 221, 252);


}
.grid-emoji{
    max-width: 1200px;
    height: 400px;
    margin:auto;
    flex: 1 1 0px;
    margin: 10px;
    padding-top: 50px; 
    padding-left: 30px;
    padding-right: 30px;
    border-style:groove;
    border-radius: 7px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom right, green,rgb(96, 96, 250) ,yellow);
    

}
.grid-task-bar{
    max-width: 1200px;
    height: 400px;
    margin:auto;
    display: flex;
    flex: 1 1 0px;
    margin: 10px;
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px;
    border-style:groove;
    border-radius: 5px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom left, green,rgb(96, 96, 250) ,yellow);
    
}
.form-width{
max-width: 1300px;

  
}

.box-size{
box-sizing: content-box;



}


.text-box{
    font-size: 15px;
    margin: 15px;
    margin-left: 5px;
    padding: 20px 15px;
    outline: none;
    box-shadow: #444;
    height: 30px;
    border-radius: 5px;
    
}

.submit-btn{
    font-size: 18px;
    margin:20px 0;
    padding:10px 15px;
    width: 150px;
    border-radius: 5px;
    border-color:cyan;
    height:40px;

}

.footer{
    text-align: center;
    padding:20px 0px;
    color:#999;
    font-size: 0.9rem;
}

.created-to-dos {
    margin-top: 20px;
}

.todo-card {
    border-bottom: 1px #444 solid;
    padding:10px 15px;
    background-color: cadetblue;
    border:1px solid;
    border-radius: 50em;
    margin: 5px;
}







